<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <!-- Console appender for development -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId:-},%X{spanId:-}] [tenant:%X{tenantId:-}] [user:%X{userId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- JSON appender for production -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <version/>
                <logLevel/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                            "application": "bharatshop",
                            "thread": "%thread",
                            "logger": "%logger",
                            "traceId": "%X{traceId:-}",
                            "spanId": "%X{spanId:-}",
                            "tenantId": "%X{tenantId:-}",
                            "userId": "%X{userId:-}",
                            "requestId": "%X{requestId:-}",
                            "sessionId": "%X{sessionId:-}",
                            "remoteAddr": "%X{remoteAddr:-}",
                            "userAgent": "%X{userAgent:-}",
                            "requestUri": "%X{requestUri:-}",
                            "requestMethod": "%X{requestMethod:-}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    
    <!-- File appender for production -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/bharatshop.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <version/>
                <logLevel/>
                <message/>
                <mdc/>
                <arguments/>
                <stackTrace/>
                <pattern>
                    <pattern>
                        {
                            "application": "bharatshop",
                            "thread": "%thread",
                            "logger": "%logger",
                            "traceId": "%X{traceId:-}",
                            "spanId": "%X{spanId:-}",
                            "tenantId": "%X{tenantId:-}",
                            "userId": "%X{userId:-}",
                            "requestId": "%X{requestId:-}",
                            "sessionId": "%X{sessionId:-}",
                            "remoteAddr": "%X{remoteAddr:-}",
                            "userAgent": "%X{userAgent:-}",
                            "requestUri": "%X{requestUri:-}",
                            "requestMethod": "%X{requestMethod:-}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/bharatshop.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
    </appender>
    
    <!-- Development profile -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.bharatshop" level="DEBUG"/>
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="org.springframework.security" level="DEBUG"/>
    </springProfile>
    
    <!-- Production profile -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="com.bharatshop" level="INFO"/>
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
    </springProfile>
    
    <!-- Test profile -->
    <springProfile name="test">
        <root level="WARN">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.bharatshop" level="DEBUG"/>
    </springProfile>
    
</configuration>